<% include partials/header %>

<div class="container my-5">

    <section class="team-section pb-5">

    <!--Section heading-->
    <h2 class="h1 text-center py-5">Overall Votes</h2>

    <!-- Grid row -->
    <div class="row text-center">

        <!-- Grid column -->
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card card-body">
                <div class="avatar mx-auto my-3">
                    <img style="height : 230px !important; width : 230px !important; object-fit: cover !important;" src="/media/Henry Halliday.jpg" class="rounded-circle img-fluid" alt="First sample avatar image">
                </div>
                <h5 class="font-weight-bold">
                    <strong>Henry Victor</strong>
                </h5>
                <p class="grey-text">Chairman</p>
                <h6 class="font-weight-bold">
                    <strong></strong>
                </h6>
            </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card card-body">
                <div class="avatar mx-auto my-3">
                    <img style="height : 230px !important; width : 230px !important; object-fit: cover !important;" src="/media/Adnan Kaka Shafi.jpg" class="rounded-circle img-fluid" alt="First sample avatar image">
                </div>
                <h5 class="font-weight-bold">
                    <strong>Adnan Kaka Shafi</strong>
                </h5>
                <p class="grey-text">Chairman</p>
                <h6 class="font-weight-bold">
                    <strong></strong>
                </h6>
            </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card card-body">
                <div class="avatar mx-auto my-3">
                    <img style="height : 230px !important; width : 230px !important; object-fit: cover !important;" src="/media/Roli.jpg" class="rounded-circle img-fluid" alt="First sample avatar image">
                </div>
                <h5 class="font-weight-bold">
                    <strong>Rolinhlanhla Zinyemba</strong>
                </h5>
                <p class="grey-text">Chairman</p>
                <h6 class="font-weight-bold">
                    <strong></strong>
                </h6>
            </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card card-body">
                <div class="avatar mx-auto my-3">
                    <img style="height : 230px !important; width : 230px !important; object-fit: cover !important;" src="/media/Jimcale Faarah.jpg" class="rounded-circle img-fluid" alt="First sample avatar image">
                </div>
                <h5 class="font-weight-bold">
                    <strong>Jimcale</strong>
                </h5>
                <p class="grey-text">Chairman</p>
                <h6 class="font-weight-bold">
                    <strong></strong>
                </h6>
            </div>
        </div>
        

    </div>
    <!-- Grid row -->

</section>

</div>

<% include partials/footer %>